<div class="crew-div">
    <h1> Nossa equipe: </h1>
    <div class="container" style="justify-content: center">
        <div class="crew">
            <img class="crew-icon" src="./assets/dark.webp">
            <div class="crew-txt">
                Dark Lord
                <hr>
                Admin
                <div class="card-s">
                    <a class="icon-s" href="https://discord.com/users/759081738432938054">
                        <i class="fab fa-discord"></i>
                    </a>
                    <a class="icon-s" href="https://www.instagram.com/dark.l0rd__/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="icon-s" href="https://www.youtube.com/channel/UCNfGwn7ibvSgaou0FREIeiQ">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>

        <div id="giiki" class="crew" style="transform: scale(1.17);">
            <img class="crew-icon" src="./assets/giiki.webp">
            <div class="crew-txt">
                Giiki
                <hr>
                Programador e admin
                <div class="card-s">
                    <a class="icon-s" href="https://twitter.com/giiki_s2">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="icon-s" href="https://github.com/GiikiS2">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="icon-s" href="https://discord.com/users/240269142848962560">
                        <i class="fab fa-discord"></i>
                    </a>
                    <a class="icon-s" href="https://www.instagram.com/giiki_s2/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="icon-s" href="https://www.youtube.com/channel/UCSCSoy_8oSh7Lgo0W0N1-uw">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="crew">
            <img class="crew-icon" src="./assets/cavone.webp">
            <div class="crew-txt">
                Cavin
                <hr>
                Admin
                <div class="card-s">
                    <a class="icon-s" href="https://twitter.com/_Cavino">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="icon-s" href="https://discord.com/users/692910323383926865">
                        <i class="fab fa-discord"></i>
                    </a>
                    <a class="icon-s" href="https://www.instagram.com/cavin_dp/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="icon-s" href="https://www.youtube.com/channel/UCEd91-u_vKfLJ0XdMDblEvQ">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>