<!-- No bacwards compatabilty yet: I'm a terrible person!-->
<div class="navdiv">
    <ul class="menu-bar" id="myDIV">

        <a href="javascript:void(0);" class="visibledevice icon-h" onclick="myFunction()">
            <li>
                <i class="fa fa-bars"></i>
            </li>
        </a>

        <a href="/">
            <li>
                <i class="fas fa-home"></i> Início
            </li>
        </a>
        <a href="/streaming?type=series">
            <li>
                <i class="fas fa-ticket"></i> Séries
            </li>
        </a>
        <a href="streaming?type=canais">
            <li>
                <i class="fas fa-address-book"></i> Canais
            </li>
        </a>

        <%
        if(json.id == "240269142848962560"){ %>
        <a href="/dashboard">
            <li>
                <i class="fa-solid fa-gear
                "></i> Dashboard
            </li>
        </a> <% } %>

        <%
        if(json.id == "759081738432938054"){ %>
        <a href="/dashboard">
            <li>
                <i class="fa-solid fa-gear
                "></i> Dashboard
            </li>
        </a> <% } %>

        <%
        if(json.id == "692910323383926865"){ %>
        <a href="/dashboard">
            <li>
                <i class="fa-solid fa-gear
                "></i> Dashboard
            </li>
        </a> <% } %>

        <% if(!req.session.bearer_token) {%>
        <a href="/login">
            <li>
                <i class="fas fa-user"></i> Login
            </li>
        </a>
        <% } %>

        <% if(req.session.bearer_token) {%>
        <a href="/user?id=<%= json.id %>">
            <li>
                <!-- <img class="pfpli" src=<=`https://cdn.discordapp.com/avatars/${json.id}/${json.avatar}.png?size=256`%>> -->
                <i class="fas fa-user"></i> <%= json.username %>
            </li>
        </a>
        <% } %>
    </ul>
</div>


<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.className === "menu-bar") {
            x.className = "responsive";
        } else {
            x.className = "menu-bar";
        }
    };

</script>