<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta data-n-head="ssr" data-hid="theme-color" name="theme-color" content="#1778ff" />
    <meta name="keywords" content="discord, r2" />
    <meta property="og:image" content="./assets/gif.gif" />
    <meta name="title" content="R2+" />
    <meta name="description" content="Dashboard R2+" />
    <title>R2+ Dashboard</title>
    <link id="favicon" rel="icon" href="assets/sparkles2.gif" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fe60fb8790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>

    <%- include('partials/loading.ejs') %>

    <%- include('partials/navbar.ejs') %>

    <%- include('partials/logout.ejs') %>

    <h1>
        I'm gay! 🎉
    </h1>

    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script>
        twemoji.parse(document.body)
    </script>

</body>

</html>